body{
    font-family: 'Lato', sans-serif;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
    
   
}
.title{
    color: #EF6262;
}
.nav-title{
    font-size: 35px;
    font-weight: 700px;
    color: #FFF4F4;
}
nav>ul{
    display: flex;
    text-decoration: none;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #FFF4F4;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
.btn-primary{
    height: 40px;
    width:120px;
    background-color: #8BACAA;
    color: #FFF4F4;
    border-radius: 5px;
    padding: 10px 10px;
  
    font-size: 14px;


}

.head{
    background-color: #001C30;
}

.banner{
    margin: 30px 30px 30px 150px;
    display: flex;
    align-items:center ;
    

}
.profile-pic{
    width: 500x;
    
}
