body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
    
    
   
}
.title{
    color: #EF6262;
}
.nav-title{
    font-size: 35px;
    font-weight: 700px;
    color: #FFF4F4;
    
}
nav>ul{
    display: flex;
    text-decoration: none;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #FFF4F4;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
.btn-primary{
    height: 40px;
    width:120px;
    background-color: #8BACAA;
    color: #FFF4F4;
    border-radius: 5px;
    padding: 10px 10px;
    border-color: #8cc0de;
  
    font-size: 14px;


}

.head{
    background-color: #78b2db;
    background-image: url(./images/header_bg.png),linear-gradient(180deg,#8cc0de,#000000ae);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner{
    margin: 30px 30px 30px 150px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    color: aliceblue;
    
    

}
.profile-pic{
    width: 500x;
    
}
.greeting{
    font-size: 45px;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-top: 0;
}
.fardin-p{
    max-width: 585px;
}
.btn-primary1{
    height: 40px;
    width:120px;
    background-color: #262b2b;
    color: #FFF4F4;
    border-radius: 5px;
    padding: 10px 10px;
    border-color: #8cc0de;
  
    font-size: 14px;
    
}
.banner-text{
    padding-right: 50px;
    flex: 1;
}
.name{
    margin-bottom: 0;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background-image: linear-gradient(#8cc0de,#00000084);
    color: #FFF4F4;
    margin: 130px 230px;
    width: 500px;
   
}
.section-title{
text-align: center;

font-size: 35px;

font-weight: 700;
line-height: normal;


}
.section-description{
    color: aliceblue;
    text-align: center;
    font-size: 18px;
}
main{
    max-width: 1140px;
   margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}

nav>ul>li:hover{
    background-color: #e48826c8;
}
.what-i-do-description{
    padding: 30px 150px;
}
.section-description1{
    text-align: center;
    font-size: 18px;

}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    align-items: center;
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-description{
  
}




